* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1146px;
    margin: auto;

}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 109px;
}

.flex-wrapper h1 {
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 2px;
    color: #30124E;
}

ul {
    display: flex;
    list-style-type: none;
    width: 390px;
    justify-content: space-between;

}

nav a {
    text-decoration: none;
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14.4px;
    line-height: 30px;
    letter-spacing: 2px;
    color: #30233D;
}

.flex-wrapper>a {
    text-decoration: none;
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14.4px;
    line-height: 30px;
    letter-spacing: 2px;
    color: #30233D;
}
